<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include("../partials/head") %>
    </head>
    <body>
        
        <%- include("../partials/header") %>

        <main class="main-formularios">
            <div class="body-flexbox">
                <div class="login-block">
                    <h2>¡Tu Perfil!</h2>
                    <p class="legend legend-register">Visualizá tu perfil</p>
                    <div class="profile-box">
                        <!--<div class="control-formulario control-formulario--name-surname">
                            <input placeholder="Nombre">
                            <input placeholder="Apellido">
                        </div> Formulario con Nombre y Apellido en misma linea -->
                        <div class="control-formulario">
                            <p>Nombre: <%= usuario.user_first_name %></p>
                        </div>
                        <div class="control-formulario">
                            <p>Apellido: <%= usuario.user_last_name %></p>
                        </div>
                        <div class="control-formulario">
                            <p>Email: <%= usuario.user_email %></p>
                        </div>
                    </div>
                    <img class="img-detalle-prod" style="margin-top: 20px" src="/img/users/<%= usuario.user_image %>">
                </div>
                <div class="vertical-line" style="height: 150px">
                </div>
            </div>
        </main>        
       
        <%- include("../partials/footer") %>

    </body>
</html>