<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("../partials/head") %>
</head>
<body>

    <%- include("../partials/header") %>

    <main>

        <div class="div-titulo-boton-comprar">
            <h2 class="titulo-detalle-prod"><%= producto.product_name %></h2>
            <form method="POST" action="/cart/agregar-producto/<%=producto.id%>">
                <button type="submit" class="boton-comprar" data-id="<%=producto.id%>">Añadir al Carrito</button>
            </form>
        </div>

        <section class="prods-destacados">

            <article class="articulo-detalle-desktop">

                <div>
                    <p class="prod-destacado__precio"> $<%= parseInt(producto.product_price).toLocaleString() %></p>
                </div>


                <div class="div-interno-art-destacado">
                    <p class="prod-destacado__titulo-mobile"> <%= producto.product_description_short %></p>
                </div>

                <div class="art-detalle-desktop-columnas">
                    <div>
                        <img class="img-detalle-prod" src="/img/products/<%= producto.product_images %>">
                    </div>
                    <div>
                        <p class="texto-detalle-prod">
                            <%= producto.product_description_long %>
                        </p>
                    </div>

                </div>
                <div id="snackbar">El producto fue añadido al Carrito!</div>
            </article>

          
        </section>
        
    </main>

    <%- include("../partials/footer") %>
    <script src="/js/botones-agregar-carrito.js"></script>
</body>
</html>